
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

nav {
  margin-bottom: 1rem;
}

#addPatient {
  background-color: #54bab9;
  color: white;
  position: absolute;
  right: 108px;
  top: 7rem;
}

#addPatient:hover {
  background-color: white;
  color: #54bab9;
}

.container {
  margin: 9rem auto 1rem auto;
  width: 1600px;
}

.intro {
  display: flex;
  justify-content: space-between;
}
